/* components/SkillCard.module.css */
.card {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
}

.header {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.icon {
  font-size: 1rem;
  margin-right: 6px;
}

.nameAndStreak {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.nameAndStreak h3 {
  font-size: 0.8rem;
  margin: 0;
  margin-bottom: 2px;
}

.streak {
  font-size: 0.6rem;
  color: #ff9800;
}

.levelDisplay {
  text-align: center;
  margin-bottom: 3px;
}

.level {
  font-size: 0.9rem;
  font-weight: bold;
}

.progressContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 3px;
}

.xpCurrent, .xpRequired {
  font-size: 0.6rem;
  width: 25px;
  text-align: center;
  flex-shrink: 0;
}

.footer {
  margin-top: 5px;
  text-align: center;
}

.editButton,
.removeButton {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 0.7rem;
  padding: 1px;
  margin-left: 3px;
}

.footer button {
  font-size: 0.7rem;
  padding: 3px 6px;
}