.profile {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin-bottom: 20px;
}
.header {
  display: flex;
  align-items: center;
  margin-bottom: 0px; /* Reduced margin */
}

.avatar {
  width: 40px; /* Increased size slightly */
  height: 40px; /* Increased size slightly */
  border-radius: 50%;
  background-color: #e0e0e0;
  margin-right: 10px; /* Reduced margin */
}

.nameAndStreak {
  display: flex;
  flex-direction: column;
}

.nameAndStreak h2 {
  font-size: 1rem; /* Increased font size slightly */
  margin: 0;
}

.streak {
  font-size: 0.8rem;
  color: #ff9800;
}

.levelDisplay {
  text-align: center;
  margin-bottom: 10px;
}

.level {
  font-size: 1rem; /* Increased font size */
  font-weight: bold;
}

.progressContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.xpCurrent, .xpRequired {
  font-size: 0.6rem;
  width: 40px; /* Reduced width */
  text-align: center;
}

.progressContainer .progressBar {
  flex-grow: 1;
  margin: 0 5px; /* Reduced margin */
}

.totalXp {
  text-align: center; /* Changed to center */
  font-size: 0.6rem; /* Increased font size slightly */
  color: #666;
  margin-top: 10px; /* Added margin to separate from progress bar */
}